/**************************\
  Basic Modal Styles
\**************************/

.w-modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  z-index: 99;
  transition: 0.4s all;
  display: none;
}

.w-modal button:focus,
.w-modal button:hover {
  outline: none !important;
}

.w-modal a,
#vongquaymayman a,
.box-action a {
  text-decoration: none;
  box-sizing: border-box;
}

.w-modal input {
  box-sizing: border-box;
}

.w-modal .modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
  z-index: 95;
}

.w-modal .modal__container {
  background-color: #fff;
  width: 80%;
  max-height: 100%;
  margin-top: 5%;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  overflow: visible;
  max-width: 470px;
}

#modal-woay-userinfo div[w-role="form"] {
  height: 30vh;
}

.w-sound-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #fff;
  z-index: 9999;
}

@media (max-width: 1400px) {
  .w-modal .modal__container {
    margin-top: 5%;
  }
}

@media (max-width: 767px) {
  .w-modal .modal__container {
    margin-top: 10%;
  }
}

@media (min-width: 768px) {
  .w-modal .modal__container {
    width: 600px;
  }
}

.w-modal .modal__header {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.w-modal .modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
}

.w-modal .modal__close {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0;
  font-size: 24px;
  color: #424446;
  opacity: 1;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.w-modal .modal__footer {
  padding: 15px;
  text-align: right;
}

.w-modal .modal__content {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  font-size: 14px;
  max-height: 35vh;
  overflow-y: auto;
}

.w-modal .modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.w-modal .modal__btn:focus,
.w-modal .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.w-modal .modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.w-otp {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
}

.w-otp::-webkit-inner-spin-button,
.w-otp::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#modal-woay-otp .modal__content {
  text-align: center;
}

#btn-woay-otp-submit.disabled,
#btn-woay-otp-submit.block {
  background-color: #ccc !important;
  pointer-events: none;
}

.w-otp-retry a.disabled,
.w-otp-retry a.block {
  color: #ccc;
  pointer-events: none;
}

.w-otp-retry {
  margin-top: 40px;
}

#modal-woay-otp .w-error-log {
  transform: translate(-50%, 0);
  left: 50% !important;
  width: 90%;
  color: #000 !important;
}

#modal-woay-otp .error input{
  border-color: #000 !important;
}

.w-modal.is-open {
  display: block;
  position: relative;
}

.w-modal[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.w-modal[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.w-modal[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.w-modal[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.w-modal .modal__container,
.w-modal .modal__overlay {
  will-change: transform;
}

.w-modal p[w-role="description"] {
  margin-bottom: 1rem;
}

.w-modal .w-form-group {
  margin-bottom: 15px;
  position: relative;
}

.w-modal .w-form-group label {
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
  font-size: 14px;
}

.w-modal .w-form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  box-sizing: border-box;
}

.w-modal .woay-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}

.w-wheel-btn {
  cursor: pointer;
}

.woay-btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#fff),
      to(#e0e0e0));
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffffff", endColorstr="#ffe0e0e0", GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}

.text-center {
  text-align: center;
}

.w-modal .modal__content,
.w-modal .modal__footer {
  padding: 10px 40px;
}

.w-modal a:hover {
  text-decoration: none;
}

.w-modal .color-orange {
  color: #eb5757;
}



.w-modal .sub-title {
  color: #9f9f9f;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.w-modal .title-popup {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
}

.w-modal .logo-popup {
  height: 80px;
  margin-bottom: 24px;
}

.w-modal .logo-popup img {
  max-height: 100%;
}

.w-modal .box-btn {
  text-align: center;
}

.w-modal .btn-popup {
  box-shadow: 0px 4px 6px rgba(36, 38, 40, 0.15);
  border: none;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 11px 10px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.w-modal .btn-popup i {
  margin-right: 5px;
}

.w-modal .box-btn-2,
.w-modal .box-btn-3 {
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.w-modal .btn-popup {
  justify-content: center;
  display: flex;
  flex: 1;
}

.w-modal .box-btn-2 .btn-popup,
.w-modal .box-btn-3 .btn-popup {
  margin: 5px;
}

.w-modal .btn-facebook {
  background: #3a5897;
}

.w-modal .btn-primary {
  background: #f2994a;
}

.w-modal .btn-info {
  background: #2d9cdb;
}

.w-modal .btn-success {
  background: #27ae60;
}

.w-modal .w-form-group {
  margin-bottom: 5px;
}

.w-modal .w-form-group label {
  font-weight: normal;
  font-size: 12px;
}

.w-modal .noti-submit {
  color: #6a6b6c;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}

.w-modal .copy-code {
  background: #f2f2f2;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.w-modal .copy-code input.code {
  width: 60%;
  line-height: 1.5;
  text-align: center;
  outline: none;
}

.w-modal .copy-code .btn-copy {
  text-align: center;
  width: 40%;
  color: #454644;
  text-decoration: underline;
}

.w-modal .text-tutorial {
  color: #9f9f9f;
  text-align: center;
  margin: 10px 0;
}

.w-modal .close {
  cursor: pointer;
}

.w-modal input:-webkit-autofill,
.w-modal input:-webkit-autofill:hover,
.w-modal input:-webkit-autofill:focus,
.w-modal textarea:-webkit-autofill,
.w-modal textarea:-webkit-autofill:hover,
.w-modal textarea:-webkit-autofill:focus,
.w-modal select:-webkit-autofill,
.w-modal select:-webkit-autofill:hover,
.w-modal select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.w-modal .w-form-group.floating {
  position: relative;
  margin: 0 0 2rem;
  border: 1px solid #3d85d8;
}

.w-modal .w-form-group.floating label {
  color: #959798;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  background: #fff;
  padding: 0 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.w-modal .w-form-group.floating input,
.w-modal .w-form-group.floating select {
  font-size: 16px;
  height: 40px;
  display: block;
  width: 100%;
  padding: 0 20px;
  background: #fff;
  color: #323840;
  border: none !important;
  border-radius: 4px;
  box-sizing: border-box;
}

.w-modal .w-form-group.floating select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 8px;
}

.w-modal .w-form-group.floating select {
  width: calc(100% - 5px);
}

.w-modal .w-form-group.floating input:focus,
.w-modal .w-form-group.floating select:focus {
  outline: none;
}

.w-modal .w-form-group.floating input:focus~label,
.w-modal .w-form-group.floating select~label {
  top: -10px;
  font-size: 13px;
}

.w-modal .w-form-group.floating select::-ms-expand {
  display: none;
}

.w-modal .w-form-group.floating input:not(:placeholder-shown)~label {
  top: -10px;
  font-size: 13px;
}

.w-modal .w-form-group.floating select:not([value=""]):valid~label {
  top: -10px;
  font-size: 13px;
}

.w-modal .w-form-group.floating select[value=""]:focus~label {
  top: 11px;
  font-size: 13px;
}

.w-modal .error input,
.w-modal input.error {
  border: 1px solid red;
}

.w-modal .w-error-log {
  color: red;
  position: absolute;
  z-index: 1;
  left: 5px !important;
  letter-spacing: 0;
  transition: all 0.4s;
  opacity: 0;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.w-modal .error .w-error-log {
  opacity: 1;
}

.w-modal .w-error-alert {
  color: red;
  opacity: 0;
  font-size: 14px;
  text-align: center;
}

.w-modal .w-box-img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.w-modal .w-box-img img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.w-modal .copy-code:focus {
  outline: none;
}

.w-info-more-vongquay {
  margin-bottom: 40px;
  width: 80%;
  margin: auto;
}

.w-info-more-vongquay a:hover {
  text-decoration: none;
}

.w-info-more-vongquay .text-number-turns {
  font-weight: 900;
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
  text-shadow: -1px -1px 0px #3c4915, 1px -1px 0px #3c4915, -1px 1px 0px #3c4915,
    1px 1px 0px #3c4915;
}

.w-info-more-vongquay .text-number-turns span {
  color: #fac53b;
  font-size: 40px;
  text-shadow: -1px -1px 0px #3c4915, 1px -1px 0px #3c4915, -1px 1px 0px #3c4915,
    1px 1px 0px #3c4915;
}

.w-info-more-vongquay .btn-check-reward {
  display: block;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.w-info-more-vongquay .box-action .box-btn {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}

.w-info-more-vongquay .box-action a {
  display: inline-block;
  padding: 10px 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  flex: 1;
}

.w-info-more-vongquay .box-action a:last-child {
  margin-right: 0;
}

.w-info-more-vongquay .box-action .btn-play {
  background-color: #fac53b;
  color: #000;
}

.w-info-more-vongquay .box-action .btn-add-turn {
  color: #fff;
  background-color: #ff8144;
}

@media (max-width: 991px) {

  .w-info-more-vongquay .text-number-turns,
  .w-info-more-vongquay .btn-check-reward,
  .w-info-more-vongquay .box-action a {
    font-size: 16px;
  }

  .w-info-more-vongquay .text-number-turns {
    margin-bottom: 10px;
  }

  .w-info-more-vongquay .text-number-turns span {
    font-size: 18px;
  }

  .w-info-more-vongquay .box-action {
    margin: 0 -10px;
  }

  .w-info-more-vongquay .box-action .box-btn {
    padding: 0 10px;
  }

  .w-info-more-vongquay .box-action a {
    padding: 10px;
    width: 100%;
    text-decoration: none;
  }
}

@media (max-width: 575px) {
  .w-modal .close {
    top: 5px;
    right: 5px;
  }

  .w-modal .title-popup {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .w-info-more-vongquay .box-action .box-btn {
    width: 90%;
  }

  .w-info-more-vongquay .box-action a {
    font-size: 12px;
  }

  .w-modal .modal__content,
  .w-modal .modal__footer {
    padding: 10px;
  }

  .w-modal .text-tutorial span {
    font-size: 14px;
  }
}

@media (max-width: 374px) {
  .w-modal .btn-popup {
    width: 100%;
    margin-bottom: 10px;
  }
}

.w-modal .w-required {
  color: red;
  position: absolute;
  right: 5px;
  top: 1px;
}

.w-modal [class*="btn"] {
  cursor: pointer;
}

#w-loading {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
  left: 0;
  z-index: 9999;
}

#w-loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#w-loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-left: -25px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: loading-center-absolute 1.5s infinite;
  animation: loading-center-absolute 1.5s infinite;
}

.w-object {
  width: 25px;
  height: 25px;
  background-color: #fff;
  float: left;
}

#w-object_one {
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
}

#w-object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
}

#w-object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
}

#w-object_four {
  -webkit-animation: object_four 1.5s infinite;
  animation: object_four 1.5s infinite;
}

@-webkit-keyframes loading-center-absolute {
  100% {
    -webkit-transform: rotate(-45deg);
  }
}

@keyframes loading-center-absolute {
  100% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

@-webkit-keyframes object_one {
  25% {
    -webkit-transform: translate(0, -50px) rotate(-180deg);
  }

  100% {
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}

@keyframes object_one {
  25% {
    transform: translate(0, -50px) rotate(-180deg);
    -webkit-transform: translate(0, -50px) rotate(-180deg);
  }

  100% {
    transform: translate(0, 0) rotate(-180deg);
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}

@-webkit-keyframes object_two {
  25% {
    -webkit-transform: translate(50px, 0) rotate(-180deg);
  }

  100% {
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}

@keyframes object_two {
  25% {
    transform: translate(50px, 0) rotate(-180deg);
    -webkit-transform: translate(50px, 0) rotate(-180deg);
  }

  100% {
    transform: translate(0, 0) rotate(-180deg);
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}

@-webkit-keyframes object_three {
  25% {
    -webkit-transform: translate(-50px, 0) rotate(-180deg);
  }

  100% {
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}

@keyframes object_three {
  25% {
    transform: translate(-50px, 0) rotate(-180deg);
    -webkit-transform: translate(-50px, 0) rotate(-180deg);
  }

  100% {
    transform: translate(0, 0) rotate(-180deg);
    -webkit-transform: rtranslate(0, 0) rotate(-180deg);
  }
}

@-webkit-keyframes object_four {
  25% {
    -webkit-transform: translate(0, 50px) rotate(-180deg);
  }

  100% {
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}

@keyframes object_four {
  25% {
    transform: translate(0, 50px) rotate(-180deg);
    -webkit-transform: translate(0, 50px) rotate(-180deg);
  }

  100% {
    transform: translate(0, 0) rotate(-180deg);
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}


.w-modal .modal__content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.w-modal .modal__content::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.w-modal .modal__content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bcc0c4;
}

/* .w-modal .reward-list {
  text-align: center;
} */

.w-modal .reward-list .item-reward {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-modal .btn-hotline {
  background: #2d9cdb;
}

.w-modal .btn-submit {
  background: #f2994a;
}

.w-modal #lixi-game canvas {
  width: 100%;
}

.w-modal .section-mission ul {
  max-width: 800px;
}

.w-modal .section-mission ul li {
  border-radius: 60px;
  background-color: #fff;
  margin-bottom: 25px;
}

.w-modal .section-mission .w-box-img img {
  max-width: 60px;
}

.w-modal .section-mission ul li .box-info h5 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.w-modal .section-mission ul li .box-info p {
  font-size: 15px;
}

.w-modal .section-mission ul li .btn-challenge {
  width: calc(25% - 30px);
  margin-right: 30px;
}

.w-modal .section-mission ul li .btn-challenge a {
  background-color: unset;
  display: block;
  padding: 0;
}

.w-modal .section-mission ul li .btn-challenge a {
  width: 100%;
}

.w-modal .section-mission .btn-challenge a img {
  max-width: 100%;
}

.w-modal .btn-challenge a.deactive {
  border: unset !important;
}

.w-modal .box-rank,
.w-modal .list-point,
.w-modal .w-list-reward {
  background-color: #fff;
  border-radius: 60px;
}

.w-modal .w-list-reward {
  border: unset;
}

.w-modal .title-rank,
.w-modal .title-reward {
  border: unset;
  background-color: rgba(0, 0, 0, 0);
  color: #4a4a4a;
  padding: 0;
  font-size: 22px;
}

.w-modal .title-reward {
  padding-left: 15px;
}

.w-modal .box-icon {
  text-align: center;
  padding: 15px 0;
}

.w-modal .box-icon img {
  max-width: 160px;
}

.w-modal .w-list-reward .item-reward .box-icon {
  padding: 15px;
  border: 1px solid #ededed;
  padding: 5px;
  border: 1px solid #ededed;
  width: 100%;
  max-width: 50px;
}

.w-modal .w-list-reward .item-reward .box-icon img {
  max-width: 100%;
}

.w-modal .pl-2 {
  padding-left: 20px;
}

.w-modal .wrap-item-button .item-button {
  border-radius: 20px;
  border: 1px solid #ff9f2c;
}

.w-modal .wrap-item-button .active {
  background-color: #ff9f2c;
}

.w-modal .tabs .tab-links li a {
  color: #ff9f2c;
  border-radius: 20px;
}

.w-modal .pd-box {
  padding: 20px 60px 60px;
}

.w-modal .item-index {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  color: #040404;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  max-width: 41px;
}

.w-modal .item-index.top-1 {
  background-color: #ff9f2c;
}

.w-modal .item-index.top-2 {
  background-color: rgba(255, 159, 44, 0.8);
}

.w-modal .item-index.top-3 {
  background-color: rgba(255, 159, 44, 0.6);
}

.w-modal .item-index.top-1,
.w-modal .item-index.top-2,
.w-modal .item-index.top-3 {
  color: #fff;
}

.w-modal .rank-item {
  padding: 20px 0;
}

.w-modal .rank-item .item-point {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
}

.w-modal .rank-item .item-name {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}

.w-modal .box-800 {
  max-width: 800px;
  margin: 10px auto 40px;
}

.w-modal .box-shading {
  box-shadow: 0 4px 2px -2px #ebebeb;
  padding-bottom: 30px;
}

.w-modal .d-flex {
  display: flex;
}

.w-modal .align-center {
  align-items: center;
}

.w-modal .justify-center {
  justify-content: center;
}

.w-modal .flex-col {
  flex-direction: column;
}

.w-modal .box-title {
  padding-left: 50px;
  padding-top: 50px;
}

.w-modal .list-point {
  border: unset;
}

.w-modal .list-point .w-box-img img,
.w-modal .w-list-reward .w-box-img img {
  max-width: 70px;
}

.w-modal .list-point .item-score,
.w-modal .w-list-reward .item-reward {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  padding: 15px 0;
}

.w-modal .item-score .item-point,
.w-modal .item-reward .item-name {
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  color: #4a4a4a;
}

.w-modal .item-score .item-time,
.w-modal .item-reward .item-time {
  width: 100%;
  color: #4a4a4a;
  font-size: 12px;
}

.w-modal .item-score .item-type {
  font-size: 17px;
  color: #444;
}

.w-modal .overtype {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  display: block !important;
}

.w-modal .oversize {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 3rem !important;
}

.w-modal .oversize .w-error-log {
  bottom: -45px;
}

.w-modal .item-reward .reward-name,
.w-modal .item-reward .reward-code {
  font-size: 16px;
}

.w-modal .item-reward .reward-time {
  font-size: 12px;
}

@media (max-width: 991px) {
  .w-modal #lixi-game canvas {
    max-height: 40vh;
  }
}

@media (max-width: 767px) {
  .w-modal .section-mission ul li .box-info {
    padding: 0;
  }

  .w-modal .pd-box {
    padding: 30px;
  }

  .w-modal .section-mission ul li {
    border-radius: 30px;
  }

  .w-modal .section-mission ul li .btn-challenge {
    width: 100%;
  }

  .w-modal .section-mission .btn-challenge a img {
    max-width: 100%;
  }

  .w-modal .rank-item .item-name {
    font-size: 16px;
  }

  .w-modal .rank-item .item-point {
    font-size: 20px;
  }

  .w-modal .box-rank,
  .w-modal .list-point {
    border-radius: 20px;
  }

  .w-modal .section-mission ul li .w-box-img {
    width: 30%;
  }

  .w-modal .box-right {
    width: 70%;
    padding-left: 10px;
  }

  .w-modal .section-mission .w-box-img img {
    max-width: 80px;
  }

  .w-modal .box-title {
    padding: 30px;
  }

  .w-modal .total-point {
    font-size: 18px;
    padding-top: 20px;
  }

  .w-modal .modal__close {
    right: 0;
  }

  .w-modal .item-score .item-point,
  .w-modal .item-reward .item-name {
    font-size: 18px;
  }

  .w-modal .list-point .w-box-img img,
  .w-modal .w-list-reward .w-box-img img {
    max-width: 100%;
  }

  .w-modal .bg-main {
    background-position: center center;
  }

  .w-modal #game {
    max-height: unset !important;
    width: 100% !important;
  }

  .w-modal .item-reward .reward-name,
  .w-modal .item-reward .reward-code {
    font-size: 14px;
  }

  .w-modal .item-reward .reward-time {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .w-modal .pd-box {
    padding: 20px;
  }

  .w-modal .item-reward .reward-name,
  .w-modal .item-reward .reward-code {
    font-size: 12px;
  }

  .w-modal .item-reward .reward-time {
    font-size: 10px;
  }

  .w-modal .section-mission .w-box-img img {
    max-width: 65px;
  }
}

.w-modal .warning-is-test-mode {
  z-index: 90 !important;
}


.w-modal .box-noti-fixed {
  z-index: 90 !important;
}

/*# sourceMappingURL=style.css.map */
.w-phone.disabled {
  pointer-events: none;
  color: #9a8d8d !important;
  border: 1px solid #9a8d8d !important;
}
.w-form-note {
  position: absolute;
  font-size: 12px;
}

.w-form-group.has-note .w-error-log {
  bottom: -40px;
  left: 0px !important;
}

.w-change-phone {
  text-align: left;
  margin-bottom: 15px;
}

.w-change-phone a {
  color: #999999;
  display: flex;
  align-items: center;
}

.w-change-phone a img {
  width: 20px;
}
@media (max-width: 480px) {
  .w-otp{
    width: 40px;
    height: 40px;
  }
}