#w-popup-section {
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    transition: all 0.7s;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

#w-popup-section a {
    text-decoration: none;
}

#w-popup-section a:hover {
    opacity: 0.8;
}

#w-popup-section button:focus, #w-popup-section button:hover {
    outline: none;
    box-sizing: border-box;
}

#w-popup-container {
    background: #0077cb;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden !important;
    z-index: 10;
    top: 0;
    left: -50%;
    transition: all 0.7s;
    width: 80%;
    min-height: 100vh;
    max-width: 1025px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 5px 2px 60px 0px #000;
}

#w-popup-close {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
}

#w-popup-section #vongquaymayman {
    margin: 0;
    position: absolute;
    width: 60%;
    /* max-height: 90%; */
    left: 42%;
    top: 10%;
    transform: translate(-100%, -50%);
    transition: 0.4s all;
}

#w-popup-userinfo-form {
    top: 0;
    right: 0;
    color: #000;
    opacity: 1;
    visibility: visible;
    transition: 0.4s all;
    width: 90%;
    margin: auto;
    position: relative;
    padding: 0;
    margin-top: 35vh;
}

#w-popup-container .logo-popup {
    position: absolute;
    right: 5%;
    top: 5%;
}

#w-popup-userinfo-form div[w-role=form] {
    height: 32vh;
    overflow: auto;
    margin-bottom: 30px;
}

#w-popup-userinfo-form h4 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
}

#w-popup-userinfo-form-submit-btn {
    margin-top: 10px;
    background: #fffffe;
    color: #823435;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 5px 0;
    /* height: 36px; */
    line-height: 36px;
    width: 100%;
    opacity: 1;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 0px rgba(224, 224, 224, 0.5);
    cursor: pointer;
}

#w-play-game {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(251, 125, 33);
    font-size: 16px;
    letter-spacing: 2px;
    padding: 5px 0;
    /* height: 36px; */
    line-height: 36px;
    width: 100%;
    opacity: 1;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 0px rgba(224, 224, 224, 0.5);
    cursor: pointer;
    display: none;
}

#w-popup-reward {
    top: 0;
    right: 0;
    color: white;
    visibility: hidden;
    transition: 0.4s all;
    width: 90%;
    margin: auto;
    position: relative;
    padding: 0;
    margin-top: 35vh;
    display: none;
}

#w-popup-section .w-btn-wrapper {
    clear: both;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#w-popup-section .w-btn-wrapper .w-btn {
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 3px;
}

#w-popup-section .w-buy-btn {
    color: #cb2228;
    border: 1px solid #cb2228;
    margin-right: 10px;
    background: white;
}

#w-popup-section .w-btn-screenshot {
    background-color: #749366;
    margin-top: 10px;
    color: white;
    margin-right: 10px;
}

#w-popup-section .w-btn-inbox {
    background-color: #cb2228;
    color: white;
}

x #w-popup-reward .title-voucher {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

#w-popup-reward .title-big {
    font-size: 38px;
    margin-bottom: 20px;
    margin-top: 15px;
    color: #000;
    font-weight: bold;
}

#w-popup-section .award-image {
    max-width: 100%;
    max-height: 85px;
}

#w-popup-reward .input-code {
    position: relative;
    margin: 0 auto;
}

#wheel-coupon-title {
    text-align: center;
    margin-top: 30px;
    padding-right: 53px;
}

#w-popup-reward .text-guide {
    max-width: 440px;
    margin: 0 auto;
    font-size: 16px;
}

#w-popup-reward .copy-code {
    background: #F2F4F6;
    border-radius: 4px;
    padding: 10px 24px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

#w-popup-reward #w-text-code {
    background: transparent;
    border: none;
    font-size: 20px;
    text-align: center;
    flex: 1;
    margin-right: 10px;
    color: #242628;
    width: 100%;
    font-weight: bold;
}

#w-popup-reward #btn-copy-code {
    background: #FB7D21;
    padding: 10px;
    color: #fff;
    text-decoration: unset;
    text-align: center;
    margin: 15px auto;
    width: 96%;
    border-radius: 4px;

}

#w-popup-reward .box-btn {
    display: flex;
}

#w-popup-reward .btn-popup {
    box-shadow: 0px 4px 6px rgba(36, 38, 40, 0.15);
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 11px 10px;
    text-align: center;
    cursor: pointer;
    background: #242628;
    flex: 1;
    margin: 5px;
}

#w-form-award {
    width: 95%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #bbbb;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 5px 5px #777;
}

.w-popup-close-btn-wrapper {
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
    text-align: right;
    opacity: 0.4;
    text-shadow: 0 -1px 0 #000;
    background: #242628;
    width: max-content;
    float: right;
    padding: 0 10px;
    border-radius: 5px;
}

.w-popup-close-btn-wrapper:hover {
    opacity: 0.8;
}

.w-popup-close-btn {
    line-height: 35px;
    cursor: pointer;
    padding-right: 14px;
}

#w-popup-userinfo-form-submit-btn:hover {
    opacity: 0.6;
}

.w-x-icon {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    border-width: 0px;
    border-style: solid;
    cursor: pointer;
    float: right;
}

.w-x-icon::after {
    content: "";
    position: absolute;
    left: 25%;
    width: 70%;
    border-top-style: solid;
    border-color: inherit;
    border-width: 1px;
    transform: rotate(45deg);
    top: 50%;
}

.w-x-icon::before {
    content: "";
    position: absolute;
    left: 25%;
    width: 70%;
    border-top-style: solid;
    border-color: inherit;
    border-width: 1px;
    transform: rotate(-45deg);
    bottom: 46%;
}

#w-popup-reward input:focus {
    outline: none;
}

/* fix pop-up close */

.hidden {
    display: none !important;
}

/* Add on css from popup.js */

.countdown-wrapper {
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    z-index: 990;
    background: #5e42eb;
    color: #fff;
}

.countdown-wrapper .close {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    font-size: 150%;
    line-height: 150%;
    opacity: 0.3;
    font-weight: bold;
    cursor: pointer;
}

.countdown-wrapper .countdown {
    margin: 0 10px;
    font-size: 22px;
    font-weight: normal;
    vertical-align: -2px;
    letter-spacing: 2px;
}

.w-popup-close-btn-wrapper {
    text-align: center;
    width: 100%;
    padding: 0;
}

.w-popup-close-btn {
    padding: 0;
}

.w-popup-remove-anim {
    color: #fff;
    display: none;
}

#w-popup-section .modal__close {
    z-index: 100;
    font-size: 40px;
    right: 2%;
}

/* #w-popup-section #vongquaymayman {
    top: 50%;
    left: 45%;
    position: absolute;
} */

#w-popup-userinfo-form .w-error-log {
    padding-top: 5px;
    font-size: 12px;
    bottom: -20px;
}

#w-popup-container .w-form-group.floating {
    margin: 0 0 1.5rem;
    border: 1px solid #9EA0FF;
    border-radius: 2px;
    padding: 0 10px;
    background: #fff;
}

.box-game {
    width: 100%;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    background: transparent;
    transition: 0.4s all;
}

.anim-woay .box-game {
    z-index: 99;
    /* background: rgba(0, 0, 0, 0.6); */
    background: #E9E9FF;
}

.anim-woay .woay-box-wheel {
    max-width: 90%;
}

.anim-woay #vongquaymayman {
    width: 100% !important;
    left: 50% !important;
    top: 50% !important;
    z-index: 99;
    transform: translate(-50%, -50%) !important;
}

.anim-woay #w-play-game {
    display: block;
    z-index: 100;
    margin: 0 15px;
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 91%;
}

.disable {
    background: #E0E0E0 !important;
    color: #828486 !important;
    pointer-events: none;
    box-shadow: 2px 2px 0px rgba(224, 224, 224, 0.5);
}

#w-popup-reward .copy-success {
    color: #2729B3;
    transition: all 0.4s;
    opacity: 0;
    text-align: center;
    padding: 10px 0;
}

.w-form-group.floating input, .w-form-group.floating select {
    padding: 0;
    padding-left: 5px;
    background: transparent;
}

.w-form-group.floating input::placeholder, .w-form-group.floating select::placeholder {
    font-size: 14px;
    color: #E0E0E0;
}

#w-popup-section.desktop-mode #w-popup-container {
    width: 85%;
}

#w-popup-section.desktop-mode #w-popup-userinfo-form,
#w-popup-section.desktop-mode #w-popup-reward {
    margin-top: 0;
    position: absolute;
    max-width: 400px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

#w-popup-section.desktop-mode #vongquaymayman {
    width: 50%;
    top: 50%;
    left: 50%;
}

.w-close-popup-desktop {
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-size: 14px;
    display: flex;
    align-items: center;
    border: unset;
    background: unset;
    color: #2729B3;
    display: none;
    z-index: 99;
    cursor: pointer;
}

.w-close-popup-desktop img {
    padding-right: 10px;
}

#w-popup-section.desktop-mode .w-close-popup-desktop {
    display: flex;
}

#w-popup-section.desktop-mode .w-popup-close-btn,
#w-popup-section.desktop-mode .w-popup-remove-anim {
    display: none;
}

.style-1::-webkit-scrollbar-button {
    display: block;
    width: 4px;
    height: 4px;
    background: #df3241;
    border: 2px solid #df3241;
    border-radius: 50%;
    display: none;
}

.style-1::-webkit-scrollbar-button:decrement:end, .style-1::-webkit-scrollbar-button:increment:start {
    display: none
}

.style-1::-webkit-scrollbar-track {
    border-radius: 30px;
    background: #8C8E90;
    border: 1px solid #fff;
}

.style-1::-webkit-scrollbar {
    width: 4px
}

.style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #2729B3;
}

@media (max-width: 991px) {
    #w-popup-reward .title-voucher {
        font-size: 28px;
    }

    #w-popup-reward .title-big {
        font-size: 34px;
    }
}

@media (max-width: 767px) {
    #w-popup-reward .box-btn {
        width: 100%;
        display: block;
    }

    #w-popup-section #vongquaymayman {
        width: 90%;
        max-height: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

    #w-popup-reward #w-text-code {
        margin-right: 0;
    }

    #w-popup-section #vongquaymayman {
        left: 50%;
    }
}

@media (min-width: 768px) {
    #w-popup-reward .box-btn {
        margin: 0px auto;
    }
}

@media (min-width: 581px) {
    #w-popup-rewar .box-btn .btn-login-fb:first-child {
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    #w-popup-reward .text-guide {
        font-size: 13px;
    }

    #w-popup-reward .title-voucher {
        font-size: 14px;
    }

    .voucher-content span {
        font-size: 14px !important;
    }

    #w-popup-reward .title-big {
        font-size: 18px;
    }

    #w-popup-reward #btn-copy-code {
        width: 93%;
    }

    #w-popup-container {
        width: 90%;
    }

    #w-popup-userinfo-form h4 {
        font-size: 18px;
    }

    #w-popup-reward .btn-popup {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    #w-popup-userinfo-form .w-error-log {
        font-size: 10px;
    }
}

.badluck .hide-badluck {
    display: none !important;
}