/**************************\
  Basic Modal Styles
\**************************/

.w-modal {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    z-index: 99;
    transition: 0.4s all;
}

.w-modal button:focus, .w-modal button:hover {
    outline: none !important;
}

.w-modal a, #vongquaymayman a, .box-action a {
    text-decoration: none;
    box-sizing: border-box;
}

.w-modal input {
    box-sizing: border-box;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0;
    z-index: 95;
}

.modal__container {
    background-color: #fff;
    width: 80%;
    max-height: 100%;
    margin-top: 10%;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

@media (max-width: 1400px) {
    .modal__container {
        margin-top: 5%;
    }
}

@media (max-width: 767px) {
    .modal__container {
        margin-top: 10%;
    }
}

@media (min-width: 768px) {
    .modal__container {
        width: 600px;
    }
}

.modal__header {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    box-sizing: border-box;
    width: 100%;
}

.modal__close {
    background: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0;
    font-size: 24px;
    color: #424446;
    opacity: 1;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal__footer {
    padding: 15px;
    text-align: right;
}

.modal__content {
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
    padding: 40px;
    font-size: 14px;
}

.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}

/**************************\
    Demo Animation Style
  \**************************/

@keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}

.w-modal {
    display: none;
}

.w-modal.is-open {
    display: block;
}

.w-modal[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.w-modal[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.w-modal[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.w-modal[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.w-modal .modal__container, .w-modal .modal__overlay {
    will-change: transform;
}

.w-modal p[w-role="description"] {
    margin-bottom: 1rem;
}

/* form */

.w-form-group {
    margin-bottom: 15px;
    position: relative;
}

.w-form-group label {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    font-size: 14px;
}

.w-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;
}

.woay-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.wheel-btn {
    cursor: pointer;
}

.woay-btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
}

.text-center {
    text-align: center;
}

.w-modal .modal__content, .w-modal .modal__footer {
    padding: 10px 40px;
}

.w-modal a:hover {
    text-decoration: none;
}

.w-modal .color-orange {
    color: #EB5757;
}

.w-modal .modal__container {
    max-width: 470px;
}

.w-modal .sub-title {
    color: #9F9F9F;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

.w-modal .title-popup {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}

.w-modal .logo-popup {
    height: 80px;
    margin-bottom: 24px;
}

.w-modal .logo-popup img {
    max-height: 100%;
}

.w-modal .box-btn {
    text-align: center;
}

.w-modal .btn-popup {
    box-shadow: 0px 4px 6px rgba(36, 38, 40, 0.15);
    border: none;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 11px 10px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.w-modal .btn-popup i {
    margin-right: 5px;
}

.w-modal .box-btn-2, .w-modal .box-btn-3 {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.w-modal .btn-popup {
    justify-content: center;
    display: flex;
    flex: 1;
}

.w-modal .box-btn-2 .btn-popup, .w-modal .box-btn-3 .btn-popup {
    margin-left: 5px;
    margin-right: 5px;
}

.w-modal .btn-facebook {
    background: #3A5897;
}

.w-modal .btn-primary {
    background: #F2994A;
}

.w-modal .btn-info {
    background: #2D9CDB;
}

.w-modal .btn-success {
    background: #27AE60;
}

.w-modal .w-form-group {
    margin-bottom: 5px;
}

.w-modal .w-form-group label {
    font-weight: normal;
    font-size: 12px;
}

.w-modal .noti-submit {
    color: #6A6B6C;
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
}

.w-modal .copy-code {
    background: #F2F2F2;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.w-modal .copy-code input.code {
    width: 60%;
    line-height: 1.5;
    text-align: center;
    outline: none;
}

.w-modal .copy-code .btn-copy {
    text-align: center;
    width: 40%;
    color: #454644;
    text-decoration: underline;
}

.w-modal .text-tutorial {
    color: #9F9F9F;
    text-align: center;
    margin: 10px 0;
}

.w-modal .close {
    cursor: pointer;
}

/* Change autocomplete styles in WebKit */

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* Floating label */

.w-form-group.floating {
    position: relative;
    margin: 0 0 2rem;
    border: 1px solid #3D85D8;
}

.w-form-group.floating label {
    color: #959798;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    background: #fff;
    padding: 0 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.w-form-group.floating input, .w-form-group.floating select {
    font-size: 16px;
    height: 40px;
    display: block;
    width: 100%;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: none !important;
    border-radius: 4px;
    box-sizing: border-box;
}

.w-form-group.floating select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 8px;
}

.w-form-group.floating select {
    width: calc(100% - 5px);
}

.w-form-group.floating input:focus, .w-form-group.floating select:focus {
    outline: none;
}

.w-form-group.floating input:focus~label, .w-form-group.floating select~label {
    top: -10px;
    font-size: 13px;
}

.w-form-group.floating select::-ms-expand {
    display: none;
}

.w-form-group.floating input:not(:placeholder-shown)~label {
    top: -10px;
    font-size: 13px;
}

.w-form-group.floating select:not([value=""]):valid~label {
    top: -10px;
    font-size: 13px;
}

.w-form-group.floating select[value=""]:focus~label {
    top: 11px;
    font-size: 13px;
}

.error input, input.error {
    border: 1px solid red;
}

.w-error-log {
    color: red;
    position: absolute;
    z-index: 1;
    left: 5px !important;
    letter-spacing: 0;
    transition: all 0.4s;
    opacity: 0;
}

.error .w-error-log {
    opacity: 1;
}

.w-error-alert {
    color: red;
    opacity: 0;
    font-size: 14px;
    text-align: center;
}

.w-box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.w-box-img img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.copy-code:focus {
    outline: none;
}

.info-more-vongquay {
    margin-bottom: 40px;
    max-width: 800px;
    margin: auto;
}

.info-more-vongquay a:hover {
    text-decoration: none;
}

.text-number-turns {
    font-weight: 900;
    font-size: 24px;
    color: #fff;
    margin-bottom: 15px;
    text-shadow: -1px -1px 0px #3c4915, 1px -1px 0px #3c4915, -1px 1px 0px #3c4915, 1px 1px 0px #3c4915;
}

.text-number-turns span {
    color: #FAC53B;
    font-size: 40px;
    text-shadow: -1px -1px 0px #3c4915, 1px -1px 0px #3c4915, -1px 1px 0px #3c4915, 1px 1px 0px #3c4915;
}

.btn-check-reward {
    display: block;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.info-more-vongquay .box-action .box-btn {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 70%;
    margin: 0 auto;
}

.info-more-vongquay .box-action a {
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    flex: 1;
}

.info-more-vongquay .box-action a:last-child {
    margin-right: 0;
}

.box-action .btn-play {
    background-color: #FAC53B;
    color: #000;
}

.box-action .btn-add-turn {
    color: #fff;
    background-color: #FF8144;
}

@media (max-width: 991px) {
    .text-number-turns, .btn-check-reward, .info-more-vongquay .box-action a {
        font-size: 16px;
    }
    .text-number-turns {
        margin-bottom: 10px;
    }
    .text-number-turns span {
        font-size: 18px;
    }
    .info-more-vongquay .box-action {
        margin: 0 -10px;
    }
    .info-more-vongquay .box-action .box-btn {
        padding: 0 10px;
    }
    .info-more-vongquay .box-action a {
        padding: 10px;
        width: 100%;
        text-decoration: none;
    }
}

@media(max-width: 575px) {
    .w-modal .close {
        top: 5px;
        right: 5px;
    }
    .w-modal .title-popup {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .info-more-vongquay .box-action .box-btn {
        width: 90%;
    }
    .info-more-vongquay .box-action a {
        font-size: 12px;
    }
    .w-modal .modal__content, .w-modal .modal__footer {
        padding: 10px;
    }
    .w-modal .text-tutorial span {
        font-size: 14px;
    }
}

@media(max-width: 374px) {
    .w-modal .btn-popup {
        width: 100%;
        margin-bottom: 10px;
    }
}

.w-required {
    color: red;
    position: absolute;
    right: 5px;
    top: 1px;
}

[class*=btn] {
    cursor: pointer;
}

/*** LOADING  ***/

#loading {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    left: 0;
    z-index: 9999
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: loading-center-absolute 1.5s infinite;
    animation: loading-center-absolute 1.5s infinite
}

.object {
    width: 25px;
    height: 25px;
    background-color: #FFF;
    float: left
}

#object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite
}

#object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite
}

#object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite
}

#object_four {
    -webkit-animation: object_four 1.5s infinite;
    animation: object_four 1.5s infinite
}

@-webkit-keyframes loading-center-absolute {
    100% {
        -webkit-transform: rotate(-45deg)
    }
}

@keyframes loading-center-absolute {
    100% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg)
    }
}

@-webkit-keyframes object_one {
    25% {
        -webkit-transform: translate(0, -50px) rotate(-180deg)
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(-180deg)
    }
}

@keyframes object_one {
    25% {
        transform: translate(0, -50px) rotate(-180deg);
        -webkit-transform: translate(0, -50px) rotate(-180deg)
    }
    100% {
        transform: translate(0, 0) rotate(-180deg);
        -webkit-transform: translate(0, 0) rotate(-180deg)
    }
}

@-webkit-keyframes object_two {
    25% {
        -webkit-transform: translate(50px, 0) rotate(-180deg)
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(-180deg)
    }
}

@keyframes object_two {
    25% {
        transform: translate(50px, 0) rotate(-180deg);
        -webkit-transform: translate(50px, 0) rotate(-180deg)
    }
    100% {
        transform: translate(0, 0) rotate(-180deg);
        -webkit-transform: translate(0, 0) rotate(-180deg)
    }
}

@-webkit-keyframes object_three {
    25% {
        -webkit-transform: translate(-50px, 0) rotate(-180deg)
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(-180deg)
    }
}

@keyframes object_three {
    25% {
        transform: translate(-50px, 0) rotate(-180deg);
        -webkit-transform: translate(-50px, 0) rotate(-180deg)
    }
    100% {
        transform: translate(0, 0) rotate(-180deg);
        -webkit-transform: rtranslate(0, 0) rotate(-180deg)
    }
}

@-webkit-keyframes object_four {
    25% {
        -webkit-transform: translate(0, 50px) rotate(-180deg)
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(-180deg)
    }
}

@keyframes object_four {
    25% {
        transform: translate(0, 50px) rotate(-180deg);
        -webkit-transform: translate(0, 50px) rotate(-180deg)
    }
    100% {
        transform: translate(0, 0) rotate(-180deg);
        -webkit-transform: translate(0, 0) rotate(-180deg)
    }
}

.modal__container {
    max-height: auto;
    overflow: visible;
}

.modal__content {
    max-height: 35vh;
    overflow-y: auto;
}

/*** Custom Scrollbar ***/

.modal__content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.modal__content::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.modal__content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #bcc0c4;
}

.reward-list {
    text-align: center;
}

.reward-list .item-reward {
    display: flex;
    align-item: center;
    justify-content: space-between;
}

.w-modal .btn-hotline {
    background: #2D9CDB;
}

.w-modal .btn-submit {
    background: #F2994A;
}

#lixi-game canvas {
    width: 100%;
}

/* new CSS UI */

.section-mission ul {
    max-width: 800px;
}

.section-mission ul li {
    border-radius: 60px;
    background-color: #fff;
    margin-bottom: 25px;
}

.section-mission .box-img img {
    max-width: 60px !important;
}

.section-mission ul li .box-info h5 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.section-mission ul li .box-info p {
    font-size: 15px;
}

.section-mission ul li .btn-challenge {
    width: calc(25% - 30px);
    margin-right: 30px;
}

.section-mission ul li .btn-challenge a {
    background-color: unset;
    display: block;
    padding: 0;
}

.section-mission ul li .btn-challenge a {
    width: 100%;
}

.section-mission .btn-challenge a img {
    max-width: 100%;
}

.btn-challenge a.deactive {
    border: unset !important;
}

.box-rank, .list-point, .list-reward {
    background-color: #fff;
    border-radius: 60px;
}

.list-reward {
    border: unset;
}

.title-rank, .title-reward {
    border: unset;
    background-color: transparent;
    color: #4a4a4a;
    padding: 0;
    font-size: 22px;
}

.title-reward {
    padding-left: 15px;
}

.box-icon {
    text-align: center;
    padding: 15px 0;
}

.box-icon img {
    max-width: 160px;
}

.list-reward .item-reward .box-icon {
    padding: 15px;
    border: 1px solid #EDEDED;
    padding: 5px;
    border: 1px solid #EDEDED;
    width: 10%;
    max-width: 50px;
}

.list-reward .item-reward .box-icon img {
    max-width: 40px;
}

.pl-2 {
    padding-left: 20px;
}

.wrap-item-button .item-button {
    border-radius: 20px;
    border: 1px solid #FF9F2C;
}

.wrap-item-button .active {
    background-color: #FF9F2C;
}

.tabs .tab-links li a {
    color: #FF9F2C;
    border-radius: 20px;
}

.pd-box {
    padding: 20px 60px 60px;
}

.item-index {
    background-color: #FF9F2C;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.rank-item {
    padding: 20px 0;
}

.rank-item .item-point {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.rank-item .item-name {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

.box-800 {
    max-width: 800px;
    margin: 10px auto 40px;
}

.box-rank ul.tab-links {
    display: none;
}

.box-shading {
    box-shadow: 0 4px 2px -2px #EBEBEB;
    padding-bottom: 30px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.box-title {
    padding-left: 50px;
    padding-top: 50px;
}

.list-point {
    border: unset;
}

.list-point .box-img img, .list-reward .box-img img {
    max-width: 70px;
}

.list-point .item-score, .list-reward .item-reward {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    padding: 15px 0;
}

.item-score .item-point, .item-reward .item-name {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    color: #4A4A4A;
}

.item-score .item-time {
    width: 100%;
    color: #4A4A4A;
    font-size: 12px;
}

.item-score .item-type {
    font-size: 17px;
    color: #444444;
}

@media (max-width: 767px) {
    .section-mission ul li .box-info {
        padding: 0;
    }
    .pd-box {
        padding: 30px;
    }
    .section-mission ul li {
        border-radius: 30px;
    }
    .section-mission ul li .btn-challenge {
        width: 100%;
    }
    .section-mission .btn-challenge a img {
        max-width: 100%;
    }
    .rank-item .item-name {
        font-size: 16px;
    }
    .rank-item .item-point {
        font-size: 20px;
    }
    .box-rank, .list-point {
        border-radius: 20px;
    }
    .section-mission ul li .box-img {
        width: 30%;
    }
    .box-right {
        width: 70%;
        padding-left: 10px;
    }
    .section-mission .box-img img {
        max-width: 100px !important;
    }
    .box-title {
        padding-left: 30px;
        padding-top: 30px;
    }
    .total-point {
        font-size: 18px;
        padding-top: 20px;
    }
}

@media (max-width: 320px) {
    .pd-box {
        padding: 20px;
    }
}